---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
---

<BaseLayout title="About | Vadim Chistiakov" description="About Vadim Chistiakov ">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Обо мне"
				tagline="Спасибо, что заглянул на мой сайт! Ниже ты сможешь отыскать всю информацию обо мне и моей деятельности"
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Vadim Chistiakov"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Всем привет! Я - Вадим, живу и работаю в Великобритании. 
						Помогаю с поиском работы, менторю, делюсь своими знаниями и навыками c комьюнити.
					</p>
					<p>
						🤵‍♂️ Пишу статьи, выступаю с публичными докладами, веду <a href="https://click.tgtrack.ru/327b2c47c28f">telegram канал</a> про мобильную разработку и саморазвитие, подписывайтесь! 
					</p>
					<p>
						👨‍🎓 Основал <a href="https://boosty.to/chistiakov">сообщество мобильных разработчиков</a> с более чем 100 платных подписчиков.  
						Оно поможет тебе в прохождении собеседований на позицию iOS developer. Также  в нем найдешь 
						курс по <a href="https://boosty.to/chistiakov/posts/a9d1f609-bce3-4947-b239-c3df66bc6314?share=post_link">лайф-кодингу для iOS разработчиков</a> 
						и <a href="https://boosty.to/chistiakov/posts/6eca9c5b-5e91-4957-93e3-b33f58961aa5?share=post_link">мобильный системный дизайн</a>.
					</p>
						🇬🇧 Самостоятельно получил Global Talent Visa в Великобританию как Exceptional Talent.
					<p>
						👨‍💻 Более 7 лет опыта в мобильной разработке.
					</p>
					<p>
						🌐 Работал в международных компаниях из США (Prequel), Великобритании (Wheely), а также в российском биг-техе (Сбер, МТС).
					</p>
					<p>
						😎 Прошел путь от интерна до сеньора и в последствии до тимлида.
					</p>
						🤯 Опыт в построении продуктов с нуля, поддержки сложных модульных систем, миграции на новый стек больших приложений с кучей легаси.
					<p>
						📝 Суммарно провел более 200 менторинг сессий на <a href="https://solvery.io/ru/mentor/chvadim">Solvery</a>, <a href="https://getmentor.dev/mentor/vadim-chistiakov-3058">GetMentor</a> и <a href="https://t.me/chvadim">напрямую</a>.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Experience</h2>
				<div class="content">
					<p>Провел десятки, а может быть и сотни технических и поведенческих интервью в таких компаниях как:</p>
					<p>
						<Icon icon="arrow-right" color="var(--accent-regular)" size="2rem" gradient />
						<a href="https://boosty.to/chistiakov/posts/61b3ebad-2818-412a-9538-bc90d00e7ceb?share=post_link)">Сбербанк(Сбертех)</a> - мой опыт первой работы</p>
					<p><Icon icon="arrow-right" color="var(--accent-regular)" size="2rem" gradient />
						<a href="https://boosty.to/chistiakov/posts/07ce4a7f-d85a-408d-950e-dda19f232984?share=post_link)">МТС</a> - путь от мидла в сеньоры</p>
					<p><Icon icon="arrow-right" color="var(--accent-regular)" size="2rem" gradient />
						<a href="https://www.amediateka.ru">Амедиатека</a></p>
					<p><Icon icon="arrow-right" color="var(--accent-regular)" size="2rem" gradient />
						<a href="https://wheely.com/en">Wheely</a></p>
					<p><Icon icon="arrow-right" color="var(--accent-regular)" size="2rem" gradient />
						<a href="https://prequel.app">Prequel</a></p>
					<p>Опыт тимбилдинга команд, построение девелоперских процессов, решение сложных задач в продуктовых компаниях.</p>
					<p>Сталкивался с различными проблемами как технического, так и менеджерского характера и готов делиться способами решения этих задач.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<h5>МИРЭА - РОССИЙСКИЙ ТЕХНОЛОГИЧЕСКИЙ УНИВЕРСИТЕТ</h5>
					<p>Специальность - Компьютерная безопасность</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>iOS, Swift, Objective-C, Leadership</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
