---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Tier from '../components/Tier.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import ServicePreview from '../components/ServicePreview.astro';
import Reviews from '../reviews/Review.astro';
import Carousel from '../components/Carousel.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';
import Review from '../reviews/Review.astro';
import Companies from '../components/Companies.astro';

// Content Fetching: List 5 most recent services
const projects = (await getCollection('services'))
	.sort((a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf())

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="Чистяков Вадим"
					align="start"
				>
					<div class="roles">
						<Pill><Icon icon="code" size="1.33em" /> Developer</Pill>
						<Pill><Icon icon="trophy" size="1.33em" /> Teamlead</Pill>
						<Pill><Icon icon="rocket-launch" size="1.33em" /> Mentor</Pill>
						<Pill><Icon icon="pencil-line" size="1.33em" /> Writer</Pill>
						<Pill><Icon icon="microphone-stage" size="1.33em" /> Speaker</Pill>
					</div>
				</Hero>

				<img
					alt="Main photo"
					width="480"
					height="620"
					src="/assets/portrait.jpg"
				/>
			</header>
			<Skills />
		</div>
		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background bg-variant">
				<header class="section-header">
					<h3>С чем готов помочь</h3>
				</header>
				<div class="gallery">
					<h5><Icon icon="arrow-right" color="var(--accent-regular)" size="2rem" gradient /> Получить оффер в топ компании на позицию iOS разработчика</h5>
					<h5><Icon icon="arrow-right" color="var(--accent-regular)" size="2rem" gradient /> Пробить зарплатный потолок как джуниорам, так и начинающим лидам</h5>
					<h5><Icon icon="arrow-right" color="var(--accent-regular)" size="2rem" gradient /> Прокачать хард и софт компетенции в iOS и IT в целом.</h5>
					<h5><Icon icon="arrow-right" color="var(--accent-regular)" size="2rem" gradient /> Построить родмап обучения в зависимости от уже имеющихся знаний и целей</h5>
					<h5><Icon icon="arrow-right" color="var(--accent-regular)" size="2rem" gradient /> Составить резюме, подготовиться к любым типам интервью</h5>
					<h5><Icon icon="arrow-right" color="var(--accent-regular)" size="2rem" gradient /> Оформить и подать кейс на Визу Таланта в Великобританию</h5>
				</div>
			</section>
		</main>
		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Услуги</h3>
					<p>Консультации и менторство</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							projects.map((project) => (
								<li>
									<ServicePreview project={project} />
								</li>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction href="/services/">
						Смотреть все
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>
		</main>
		<main class="wrapper stack">
			<section class="section with-background bg-variant">
				<header class="section-header">
					<h3>Отзывы</h3>
					<h5>Источник отзывов - телеграм канал <a href="https://t.me/it_mentors"> It mentors</a></h5>
					<h5>Все отзывы неанонимные.</h5>
				</header>
			</section>	
			<section class="section">
				<div class="wrapper">
					<Reviews />	
				</div>
			</section>
		</main>
		<main class="wrapper stack">
			<section class="section with-background bg-community">
				<header class="section-header">
					<h3>Куда получали офферы менти?</h3>
				</header>
			</section>	
			<Companies />

		</main>
		
		<main class="wrapper stack">
			<section class="section with-background bg-community">
				<header class="section-header">
					<h3>Сообщество мобильных разработчиков</h3>
				</header>
			</section>
			<section>
				<h5>
					Через Boosty ты можешь вступить в сообщество. 
				</h5>
				<h5>
					Оно поможет тебе в карьерном развитии и получении офферов.
				</h5>
				<Tier />
			</section>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}
	.with-background.bg-community::before {
		--hero-bg: var(--bg-image-subtle-2);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	@media (max-width: 768px) {
		.section-header {
			justify-self: left;
			text-align: left;
			max-width: 50ch;
			font-size: var(--text-md);
			color: var(--gray-300);
		}

		.section-header h3 {
			padding-bottom: 1.5rem;
		}
	}
	

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	.section-header.services {
		text-align: center;
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.gallery h5 {
			grid-area: gallery;
			line-height: 2;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 4rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 4.5rem;
		}
	}
</style>
